/*for font method*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#homePage {
  display: grid;
  grid-template-columns: 150px 1fr 1fr 1fr 150px;
  grid-template-rows: repeat(5, auto);
  /*	grid-gap: 10px;*/
}
#homePage header {
  grid-column: 1/6;
  grid-row: 1/2;
  /*border:1px solid black;*/
  text-align: center;
  margin-top: 27px;
  margin: 27px 0 20px 0;
  cursor: pointer;
}
#homePage main {
  /*display: flex;*/
  position: relative;
  margin-bottom: 10px;
  grid-column: 1/6;
  grid-row: 2/3;
  /*border:1px solid black;*/
}
#homePage main #slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
  /*border:1px solid red;*/
}
#homePage main #slider-container #slider-wrapper {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}
#homePage main #slider-container #slider-wrapper li {
  display: inline;
  float: left;
  list-style: none;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
#homePage main #slider-container #slider-wrapper li a {
  position: relative;
  top: 30%;
  display: block;
  width: 100%;
  height: 100%;
  transition: color 0.2s ease-in;
  text-decoration: none;
}
#homePage main #slider-container #slider-wrapper li a p:nth-of-type(1) {
  font-family: "Yu Gothic";
  font-size: 60px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}
#homePage main #slider-container #slider-wrapper li a p:nth-of-type(2), #homePage main #slider-container #slider-wrapper li a p:nth-of-type(3) {
  font-family: "Yu Gothic";
  font-size: 13px;
  color: white;
  text-align: center;
  line-height: 2;
}
#homePage main .slide-arw {
  filter: invert(100%);
  width: 30px;
}
#homePage main .left-arw {
  position: absolute;
  top: 43%;
  left: 15%;
  transform: rotate(180deg);
}
#homePage main .left-arw img {
  width: 100%;
}
#homePage main .right-arw {
  position: absolute;
  top: 43%;
  right: 15%;
}
#homePage main .right-arw img {
  width: 100%;
}
#homePage main .dot-wrapper {
  position: relative;
  text-align: center;
  top: -8%;
}
#homePage main .dot-wrapper .dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-right: 10px;
  background-color: #BBBBBB;
  border-radius: 50%;
}
#homePage main .dot-wrapper .dot:hover {
  background-color: #E7B82D;
}
#homePage article {
  grid-column: 2/4;
  grid-row: 3/5;
  /*border:1px solid black;*/
}
#homePage article .article-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 25px;
}
#homePage article .article-wrapper .article-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 5px;
  column-gap: 5px;
  cursor: pointer;
}
#homePage article .article-wrapper .article-item .img-item {
  /*border:1px solid red;*/
  height: auto;
  display: flex;
}
#homePage article .article-wrapper .article-item .img-item img {
  width: 100%;
}
#homePage article .article-wrapper .article-item .description {
  display: grid;
  align-content: space-between;
}
#homePage article .article-wrapper .article-item .description p:nth-of-type(1) {
  font-family: "Helvetica";
  font-size: 13px;
  color: #999999;
  text-align: left;
}
#homePage article .article-wrapper .article-item .description a {
  font-family: "Yu Gothic";
  font-size: 18px;
  color: black;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  -moz-transform: matrix(0.9815999982, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(0.9815999982, 0, 0, 1, 0, 0);
}
#homePage article .article-wrapper .article-item .description a:hover {
  color: #e7ba2f;
}
#homePage article .article-wrapper .article-item .description p:nth-of-type(2) {
  font-family: "Yu Gothic";
  font-size: 13px;
  color: black;
  text-align: left;
  -moz-transform: matrix(0.9815999982, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(0.9815999982, 0, 0, 1, 0, 0);
}
#homePage article .article-wrapper .btn-wrapper {
  display: grid;
  justify-content: center;
  margin: 50px 0;
}
#homePage article .article-wrapper .btn-wrapper .btn-more {
  background-color: #2C2C2C;
  display: grid;
  grid-template-columns: 10fr 1fr;
  width: 300px;
  cursor: pointer;
}
#homePage article .article-wrapper .btn-wrapper .btn-more div:nth-of-type(1) {
  border: none;
  padding: 5px;
  color: white;
  text-align: center;
}
#homePage article .article-wrapper .btn-wrapper .btn-more div:nth-of-type(2) {
  display: grid;
  filter: invert(100%);
}
#homePage article .article-wrapper .btn-wrapper .btn-more div:nth-of-type(2) a {
  width: 10px;
  display: grid;
  align-content: center;
  justify-content: end;
}
#homePage article .article-wrapper .btn-wrapper .btn-more div:nth-of-type(2) img {
  width: 100%;
}
#homePage aside {
  grid-column: 4/5;
  grid-row: 3/4;
  /*border:1px solid black;*/
  padding: 15px;
  background-color: #ececec;
}
#homePage aside .aside-wrapper .dummy-banner {
  font-family: "Helvetica";
  font-size: 15px;
  color: black;
  text-align: center;
  display: grid;
  background-color: white;
  padding: 15px;
  height: 300px;
  align-items: center;
  cursor: pointer;
}
#homePage aside .aside-wrapper .dummy-banner a {
  text-decoration: none;
  color: black;
}
#homePage aside .aside-wrapper .reco-wrapper .title {
  font-family: "Yu Gothic";
  font-size: 20px;
  color: black;
  text-align: center;
  border-bottom: 2px solid black;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  cursor: pointer;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper .reco-img a {
  display: flex;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper .reco-img img {
  width: 100%;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper .reco-desp {
  display: grid;
  grid-gap: 5px;
  align-content: space-between;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper .reco-desp a {
  font-family: "Yu Gothic";
  font-size: 12px;
  color: black;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
}
#homePage aside .aside-wrapper .reco-wrapper .reco-item .item-wrapper .reco-desp p {
  font-family: "Helvetica";
  font-size: 11px;
  color: #999999;
  text-align: left;
}
#homePage aside .aside-wrapper .reco-wrapper .banner-item {
  display: grid;
  align-content: center;
  background-color: #606060;
  height: 94px;
  width: auto;
  text-align: center;
  margin-bottom: 10px;
}
#homePage aside .aside-wrapper .reco-wrapper .banner-item a {
  text-decoration: none;
  color: white;
}
#homePage footer {
  grid-column: 1/6;
  grid-row: 5/6;
  border: 1px solid black;
  background-color: #000000;
  display: grid;
  padding: 10px;
  grid-template-columns: 150px 1fr 1fr 1fr 150px;
  grid-template-rows: auto;
}
#homePage footer #footer-nav {
  font-family: "Yu Gothic";
  font-size: 13px;
  color: white;
  text-align: left;
  grid-column: 2/3;
  grid-row: 1/2;
}
#homePage footer #footer-nav a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
#homePage footer #copyright {
  position: relative;
  grid-column: 4/5;
  grid-row: 1/2;
  font-family: "Yu Gothic";
  font-size: 13px;
  color: white;
  text-align: right;
}
#homePage footer #copyright .btn-arrow {
  position: absolute;
  right: 0;
  transform: rotate(270deg);
  bottom: 35px;
  width: 15px;
}
#homePage footer #copyright .btn-arrow:hover {
  filter: invert(50%);
}
#homePage footer #copyright .btn-arrow img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
