/*for font method*/
@mixin font($family:false, $size:false, $color:false, $align:false) {
	@if $family {
		font-family: "#{$family}";
	}
	@if $size {
		font-size: $size;
	}
	@if $color {
		color: $color;
	}
	@if $align {
		text-align: $align;
	}
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#homePage {
	display: grid;
	grid-template-columns: 150px 1fr 1fr 1fr 150px;
	grid-template-rows: repeat(5, auto);
/*	grid-gap: 10px;*/

	header {
		grid-column: 1/6;
		grid-row: 1/2;
		/*border:1px solid black;*/
		text-align: center;
	    margin-top: 27px;
	    margin: 27px 0 20px 0;
	    cursor: pointer;
	}
	main {
		/*display: flex;*/
		position:relative;
		margin-bottom: 10px;
		grid-column: 1/6;
		grid-row: 2/3;
		/*border:1px solid black;*/

		#slider-container {
			position: relative;
			overflow:hidden;
			width: 100%;
			height: 480px;
			/*border:1px solid red;*/

			#slider-wrapper {
				position: relative;
				overflow:hidden;
				top: 0;
				left: 0;
				height: 100%;
				margin: 0;
				padding: 0;

				li {
					display: inline;
					float: left;
					list-style: none;
					height: 100%;
					background-position: bottom;
					background-repeat: no-repeat;
					background-size: cover;

					a {
					    position: relative;
					    top:30%;
					    display: block;
					    width: 100%;
					    height: 100%;
					    transition: color 0.2s ease-in;
					    text-decoration: none;

					    p:nth-of-type(1) {
					    	@include font("Yu Gothic", 60px, white, center);
					    	margin-bottom: 25px;
					    	font-weight: bold;
					    }
					    p:nth-of-type(2), p:nth-of-type(3) {
					    	@include font("Yu Gothic", 13px, white, center);
					    	line-height: 2;
					    }
					}
				}
			}
		}

		.slide-arw {
			filter:invert(100%);
			width: 30px;
		}

		.left-arw {
			position: absolute;
			top: 43%;
    		left: 15%;
			transform: rotate(180deg);

			img {
				width: 100%;
			}
		}

		.right-arw {
			position: absolute;
			top: 43%;
    		right: 15%;

			img {
				width: 100%;
			}
		}

		.dot-wrapper {
			position: relative;
			text-align: center;
			top:-8%;

			.dot {
				display: inline-block;
			    height: 15px;
			    width: 15px;
			    margin-right: 10px;
			    background-color: #BBBBBB;
			    border-radius: 50%;

			    &:hover {
			    	background-color: #E7B82D;
			    }
			}


		}

	}
	article {
		grid-column: 2/4;
		grid-row: 3/5;
		/*border:1px solid black;*/

		.article-wrapper {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-gap: 25px;

			.article-item {
				display: grid;
				grid-template-columns: 1fr 2fr;
				grid-gap: 5px;
				column-gap: 5px;
				cursor: pointer;

				.img-item {
					/*border:1px solid red;*/
					height: auto;
					display: flex;

					img {
						width: 100%;
					}
				}

				.description{
					display: grid;
   					align-content: space-between;
					p:nth-of-type(1) {
						@include font("Helvetica",13px,rgb( 153, 153, 153 ),left);
					}
					a {
						@include font("Yu Gothic",18px,rgb( 0, 0, 0 ),left);
						font-weight: bold;
						text-decoration: none;
					  	-moz-transform: matrix( 0.98159999821836, 0, 0, 1, 0, 0);
					  	-webkit-transform: matrix( 0.98159999821836, 0, 0, 1, 0, 0);

					  &:hover {
					  	color: rgb( 231, 186, 47 );
						}
					}
					p:nth-of-type(2) {
						@include font("Yu Gothic",13px,rgb( 0, 0, 0 ),left);
					  	-moz-transform: matrix( 0.98159999821836, 0, 0, 1, 0, 0);
					  	-webkit-transform: matrix( 0.98159999821836, 0, 0, 1, 0, 0);
					}		
				}	
			}

			.btn-wrapper {
					display: grid;
    				justify-content: center;
    				margin:50px 0;

    				.btn-more {
    					background-color: #2C2C2C;
    					display: grid;
    					grid-template-columns: 10fr 1fr;
    					width: 300px;
    					cursor: pointer;

    					div:nth-of-type(1) {
    						border:none;
    						padding:5px;
    						color:white;
    						text-align: center;
    					}
    					div:nth-of-type(2) {
    						display: grid;
    						filter: invert(100%);

    						a {
    							width: 10px;
							    display: grid;
							    align-content: center;
							    justify-content: end;
    						}
    						img {
    							width: 100%;
    						}
    					}
    				}
				}
				
		}
	}

	aside {
		grid-column: 4/5;
		grid-row: 3/4;
		/*border:1px solid black;*/
		padding:15px;
		background-color: rgb(236,236,236);

		.aside-wrapper {
			
			.dummy-banner {
				@include font("Helvetica",15px,rgb( 0, 0, 0 ),center);
				display: grid;
				background-color: rgb(255,255,255);
				padding: 15px;
				height: 300px;
				align-items: center;
				cursor: pointer;

				a {
					text-decoration: none;
					color:black;
				}
			}
			.reco-wrapper {
				.title {
					@include font("Yu Gothic",20px,rgb( 0, 0, 0 ),center);
					border-bottom: 2px solid black;
					padding:10px;
					font-weight: bold;
					margin-bottom: 10px;
					
				}
				.reco-item {
					display:grid;
					grid-template-columns: 1fr;
					grid-auto-rows: 1fr;
					grid-gap: 10px;
					margin-bottom: 20px;
							

					.item-wrapper {
						display: grid;
						grid-template-columns: 1fr 2fr;
						grid-template-rows: auto;
						grid-gap: 10px;
						cursor: pointer;

						.reco-img {

							a{
								display: flex;
							}
							
							img {
								width: 100%;
							}
						}

						.reco-desp {
							display: grid;
							grid-gap: 5px;
							align-content: space-between;
							a {
								@include font("Yu Gothic",12px,rgb( 0, 0, 0 ),left);
  								font-weight: bold;
  								text-decoration: none;
							}
							p {
								@include font("Helvetica",11px,rgb( 153, 153, 153 ),left);
							}
						}
					}
				}

				.banner-item {
					display: grid;
					align-content: center;
					background-color: #606060;
					height: 94px;
					width: auto;
					text-align: center;
					margin-bottom: 10px;
					
					a {
						text-decoration: none;
						color:white;
					}
				}

			}
		}
	}
	footer {
		grid-column: 1/6;
		grid-row: 5/6;
		border:1px solid black;
		background-color: #000000;
		display: grid;
		padding:10px;
		grid-template-columns: 150px 1fr 1fr 1fr 150px;
		grid-template-rows:auto;

		#footer-nav {
			@include font("Yu Gothic",13px,rgb( 255, 255, 255 ),left);
			grid-column: 2/3;
			grid-row: 1/2;
			
			a {
				margin-right: 20px;
				text-decoration: none;
				color:rgb(255,255,255);
			}
		}

		#copyright {
			position: relative;
			grid-column: 4/5;
			grid-row: 1/2;
			@include font("Yu Gothic",13px,rgb( 255, 255, 255 ),right);

			.btn-arrow {
				position: absolute;
			    right: 0;
			    transform: rotate(270deg);
			    bottom: 35px;
			    width: 15px;

			    &:hover {
			    	filter:invert(50%);
			    }

			    img {
			    	width: 100%;
			    }
			}
		}
	}
}





